NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
RESEND_API_KEY=your_resend_api_key
RESEND_TO_EMAIL=info@velencevill.hu
ADMIN_PASSWORD=velencevill2025
NEXT_PUBLIC_ADMIN_PASSWORD=velencevill2025
NEXT_PUBLIC_SITE_URL=https://velencevill.hu
